name: Docker Tests

on: [push, pull_request]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: users
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker
      uses: docker/setup-qemu-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and start containers
      run: |
        docker compose -f rest-api/docker-compose.yml up -d
        sleep 30

    - name: Run User Service tests
      run: docker compose exec rest-api/user-service pytest rest-api/user-service/tests/ -v

    - name: Run API Gateway tests
      run: docker compose exec rest-api/api-gateway pytest rest-api/api-gateway/tests/ -v
